.Title {
  position: absolute;
  z-index: 99;
  left: 0;
  text-align: center;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px 20px;
}
.Title h2 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
