.VideoPlayerControls {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  z-index: 2;
  padding: 0 10px;
  transition: opacity 1.5s;
}
