.Volume {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.Volume input {
  cursor: grab;
  width: 50px;
  background: blue;
  border: 1px solid blue;
}
.Volume button:hover .input {
  opacity: 1;
}
.Volume button {
  height: inherit;
  border: none;
  background: transparent;
  outline: 0;
  width: inherit;
  box-sizing: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
  z-index: 999;
}
