.App {
  display: grid;
  grid-template-areas: "sidebar header "
                       "sidebar playlist ";

  text-align: center;
}

.contenido{
  grid-area:contenido;
}
.Header {
  min-height:10vh;
  grid-area: header;
  background-color:green;
}
.sidebar{
  grid-area: sidebar;
  width: 35vh;
background-color:black;
}
.sidebar img {
  padding-top:20px;
  width: 100%;
}
.Media {
  display: grid;
}
.Media-contenido {
  display: flex;
  overflow: auto;
}
.cuadro {
  min-width: 300px;
  max-width: 500px;
}
.cuadro p {
  padding:0;
  margin:0;
  font-size:10px;
  text-align: center;
}

.Media-contenido img {
  height: 80%;
  width: 95%;
  overflow: hidden;
}


.App-link {
  color: #61dafb;
}

