.App {
  display: grid;
  grid-template-areas:
    'sidebar header '
    'sidebar playlist ';
}

.contenido {
  grid-area: contenido;
}
.playlist {
  margin: 10px;
}
.search-box {
  margin-left: 5px;
  padding: 0;
  width: 80%;
}
.avatar {
  display: flex;
  align-items: center;
  text-align: center;
}
.avatar img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.avatar span {
  margin: 1em;
}
.Header {
  display: grid;
  grid-template-columns: repeat(2, minmax(20vh, 50vh));
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  grid-area: header;
}
.Header div {
  position: relative;
}

.sidebar {
  grid-area: sidebar;
  width: 35vh;
  background-color: black;
}
.sidebar img {
  padding-top: 20px;
  width: 100%;
}
.Media {
  display: grid;
}
.Media-contenido {
  display: flex;
  overflow: auto;
}
.cuadro {
  min-width: 300px;
  max-width: 500px;
}
.cuadro p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.Media-contenido img {
  height: 80%;
  width: 95%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.App-link {
  color: #61dafb;
}
